
.sendCodeBtn{
    padding:5px 10px;
    border:none;
    background:#fff;
}
.registerBtn{
    width:100%;
    margin:10px 0;
    padding:8px 0;
    text-align: center;
    color:#666;
    background: #ccc;
    border-radius:3px;
}
.active{
    color:#fff;
    background: #f66;
}
